.hero {
  background-image: url("i../../../../../../../../public/images/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 1000px 200px #000;
  height: 100%;
  max-width: 100vw;
  min-height: 100vh;
  padding: 20px 120px;
  width: 100%;
}

.hero-container {
  color: white;
  display: grid;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  place-items: center;
}

.hero-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  padding: 9.5rem 22rem;
  position: relative;
  width: 100%;
}

.h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 3px;
}

.h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.title {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.scroll-button {
  align-items: center;
  animation: bounceY 0.3s ease-in-out infinite alternate;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin: 0px auto;
}

.scroll-button span {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.scroll-button:hover {
  animation: none;
}

@keyframes bounceY {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}
