.about-container {
  background-image: url("i../../../../../../../../public/images/about-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 2000px 300px #000;
  color: white;
  display: grid;
  height: auto;
  max-width: 100vw;
  min-height: 100vh;
  place-items: center;
  width: 100%;
}

.about-content {
  align-items: center;
  display: flex;
  font-family: "Bebas Neue", sans-serif;
  justify-content: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin-right: 112px;
  max-width: 710px;
  width: 100%;
}

.text-content h3 {
  font-size: 30px;
  font-weight: bold;
}

.text-content h1 {
  border-bottom: 1px solid white;
  font-size: 100px;
  font-weight: bold;
}

.text-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  padding: 34px 0px 0px 153px;
  text-align: justify;
}
.image-carousel {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.image-group {
  align-items: center;
  display: flex;
  gap: 69px;
  width: 100%;
}

.carousel-nav {
  align-items: center;
  display: flex;
  gap: 30px;
}
