.header-container {
  align-items: center;
  color: white;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 1rempx;
  font-weight: bold;
  justify-content: space-between;
  padding: 2rem 0px;
  text-transform: uppercase;
  width: 100%;
}

.header-navigation {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.social {
  align-items: center;
  display: flex;
  height: 2rem;
}

.language {
  align-items: center;
  border-right: 1px solid white;
  display: flex;
  height: 100%;
  padding-right: 40px;
}

.social-icons {
  align-items: center;
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  background-image: url("../../../../../../public/svg/select.svg");
  background-position: right 18px center;
  background-repeat: no-repeat;
  background-size: 10px 6px;
  cursor: pointer;
}

.custom-select:focus {
  border-color: #66afe9;
  outline: none;
}

.dropdown-menu {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: auto;
  position: absolute;
  top: 100px;
}

.dropdown-menu div:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
